<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<body>

<div layout:fragment="content">
    <table class="table delete-row-example">
        <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody hx-confirm="Are you sure?" hx-target="closest tr" hx-swap="outerHTML" th:each="user : ${users}">
        <tr>
            <td th:text="${user.id}">ID</td>
            <td th:text="${user.name}">NAME</td>
            <td th:text="${user.email}">EMAIL</td>
            <td>
                <a href="/users/1" th:href="@{/users/{id}(id=${user.id})}">
                    <th:button class="btn btn-primary">
                        Properties
                    </th:button>
                </a>
            </td>
            <td>
                <th:button class="btn btn-danger" th:hx-delete="@{/users/{id}(id=${user.id})}">
                    Delete
                </th:button>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<th:block layout:fragment="script-content"></th:block>
</body>
</html>
