<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<body>

<div layout:fragment="content">
    <div hx-target="this" hx-swap="outerHTML">
        <label>Name</label><p th:text="${user.id}">1</p>
        <label>Name</label><p th:text="${user.name}">John Smith</p>
        <label>Email</label><p th:text="${user.email}">john.smith@gmail.com</p>
        <button th:attr="hx-get=@{/users/{id}/edit(id=${user.id})}" class="btn btn-primary">
            Click to edit
        </button>
    </div>
</div>

<th:block layout:fragment="script-content"></th:block>
</body>
</html>
